div{
    background-color: yellow;
}

form{
    background-color: purple;
}

input {
    background-color: inherit;
}

button {
    background-color: inherit;
}

button:hover{
    background-color: red;
}